/*  
Skin Name: Желтый
Version: 1.0
Description: Skin for Grido
*/


/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	border-color: #ffbe10;
}

/* post date and post icon */
.post-date, .post-icon {
	background-color: #ffbe10;
}

